.ant-page-header{

    padding: 5px 20px;

}

.react-trello-board{

    height: calc(100vh - 125px) !important; 

    .kTEdEo {
        max-height: 70vh;
    }
}


.ant-layout-footer{
    padding: 5px 20px;


}


.add-task-action{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.add-task-input {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}


// .smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
//     textarea{
//         pointer-events: none;
//     }
// }