.ant-page-header {
  padding: 5px 20px;
}

.react-trello-board {
  height: 80vh !important;
}

.react-trello-board .kTEdEo {
  max-height: 70vh;
}

.ant-layout-footer {
  padding: 5px 20px;
}

.add-task-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.add-task-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000000d9;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=App.css.map */